doctype html
html
	head
	title= title
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css", rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include header

		block content

		include footer