extends layout

block content
    h1 Hello! 
    h2 Please Login To Your Account
    h3= error
    form(method="post")        
        h3.label Username 
            input(type="text", name="username").required
        h3.label Password 
            input(type="password", name="password").required
        button(type="submit")#btn-login.btn.btn-primary.btn-large
            |Sign in
        br
        label#remember-me.checkbox Remember Me
            input(type="checkbox", checked='checked')
        div.clear-fix
        div.btm-links
            a(href='#')#forgot-password Forgot Your Password?
            br
            a(href='/signup')#create-account Create An Account