extends layout

block content
  body
    .container#inputcontainer
      form.form-signin(role='form', method="post")
        h2.form-signin-heading Please log in to your account:
        input.form-control(type='text', name="username", placeholder='Username', required='', autofocus='')
        input.form-control(type='password', name='password', placeholder='Password', required='')
        label.checkbox
          input(type='checkbox', value='remember-me')
          |  Remember Me
        button.btn.btn-lg.btn-primary.btn-block.btn-blue(type='submit') Log in
        h3 
        a(href='#')#forgot-password Forgot Your Password?
            |  |  
            a(href='/users/signup')#create-account Create An Account
