extends layout

block content
  body
    .container#inputcontainer
      form.form-signin(role='form', method="post")
        h2.form-singin-heading Please register below:
        input.form-control(type='text', name="username", placeholder='Username', required='', autofocus='')
        input.form-control(type='text', name="email", placeholder='Email', required='', autofocus='')
        input.form-control(type='password', name='password', placeholder='Password', required='')
        input.form-control(type='text', name='phone', placeholder='Phone Number', required='')
        .form-group#caretakerorelder
            h3.label#caretakerorelderprompt Are you a Caretaker or an Elder?
            br
            label.radio-inline
              input#role1(type="radio", name="role", value="caretaker", checked="")
              | Caretaker
            label.radio-inline
              input#role2(type="radio", name="role", value="elder")
              | Elder
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
        h3 
        a(href='/login')#create-account Already Registered?

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/login.js')
    script(src='/js/controllers/loginController.js')
    script(src='/js/form-validators/loginValidator.js')
    script(src='/js/form-validators/emailValidator.js')