body {
  padding: 95px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}

a:visited{
	text-decoration: none;
}

p{
	font-family: 'Open Sans', sans-serif;
}

.jumbotron h1{
	font-size:58px;
}

h2{
	font-size:24px;
}

#inputcontainer{
	position: relative;
	width:375px;
}

label.checkbox{
	margin-left:25px;
}

#caretakerorelder{
	margin-top:5px;
	margin-bottom:5px;
}

#caretakerorelderprompt{
	margin-bottom:5px;
	margin-top:9px;
}

h3.label{
	margin: 3px;
	margin-top: 3px;

	font-size:14px;
	color:BLACK;
}

.radio-inline{
	margin-left:10px;
}

h3{
	font-size:18px;
}

#addelderpanel{
	border:none;
	width:375px;
}

.panel-heading{
	font-size:18px;
}

.panel-body{
	padding:5px;
}

.btn {
  margin: 5px;
}

p.lead {
  margin: 5px;
  margin-bottom:10px;
}

body.h1{
	font-size:30px;
}

.btn-green{
	background:#16eeb6;
	color:#ffffff;
	border: solid #14E2AB 1px;
}

.btn-green:hover{
	background:#0CDDAD;
	color:#ffffff;
	text-deciration:none;
}

.btn-blue{
	background:#009ED9;
	color:#ffffff;
	border: solid #0097CE 1px;
}

.btn-blue:hover{
	background:#0086C4;
	color:#ffffff;
	text-deciration:none;
}

.navbar {
	min-height:80px !important;
	background-color:#1C3041;
	display:inline-block;
}

.navbar-nav > li > a {
	padding-top:30px !important; 
	padding-bottom:30px !important;
}

a#headname.navbar-brand {
	font-size:30px;
	padding-top:30px !important; 
	padding-bottom:30px !important;
}

.navbar img{
	display:block;
}

.navbar-brand{
	padding-top:8px;
	padding-bottom:10px;
	padding-right:15px;
}
